@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
}

.gridContainer {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

}

header p {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
}

main {
  grid-area: main;
  background-color: #f8f8f8;
}

footer {
  grid-area: footer;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

/* Prodacts */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li{
  flex: 1 1 29rem;
  padding: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: min-content;
}

.product img{
  display: block;
  padding-top: 15px;
  margin: auto;
  max-width: 35rem;
  max-height: 35rem;
}

.cartText{
  padding: 15px;
  word-break: break-all;
}

.energyClass{
  display: contents;
  margin: auto;
  width: 50px;
  /* height: 25px; */
}
.energyClass p{
  display: inline-block;
}
.energyClass img{
  display: inline-block;
  margin-left: 10px;
  padding: 0;
}

.buttonСhoose{
  margin: 20px auto;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  width: 180px;
  height: 35px;
  border-radius: 25px;
  background-color: #1428a0;
}
.buttonСhoose:hover {
  color: #ffffff;
  background-color: #1c1c1c;
}

/* Filter */

.filter{
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

select {
  display:flex;
  position:relative;
  width:250px;
  height:40px;
  border-radius: 0%;
  border: none;
  font-size: revert;
}
 option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#ffffff;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  font-size: 1.5rem;
}
input{
  width: 250px;
  height: 30px;
  border-radius: 0%;
  border: none;
}

/* Text */

.cartText p{
  font-size: large;
  font-weight: 600;
  padding-right: 120px;
}
.energyClass p{
  padding-right: 5px;
  font-size: larger;
  font-weight: normal;
  color: #9b9b9b;
}

.searchPannel{
  margin-top: 10px;
}
.filter-block{
  margin-top: 10px;
}
.bloodText{
  font-size: larger;
  font-weight: normal;
}
.specifications{
  padding-right: 85px;
  color: #9b9b9b;
}
.specifications b{
  color: #000000;
}
.priceIsValid{
  font-size: larger;
  font-weight: normal;
  color: #9b9b9b;
}
.price{
  font-size: xx-large;
  font-weight: 600;
}
.installments{
  font-size: larger;
  font-weight: 700;
  color: #9b9b9b;
}
.filtr-text{
  font-size: larger;
  font-weight: 700;
}
.filter-result{
  margin-top: 5px;
  font-size: small;
}